:root {
  // fonts
  --primary-font: "Georgia", serif;
  --secondary-font: "Arial", sans-serif;

  // colors
  --color-white: #fff;
  --color-black: #000;
  --color-primary: #f1cdb3;
  --color-primary-light: #fddcc4;
  --color-background: #f6f6f6;
  --color-grey-fade: #cdcdcd;
  --color-light: #fafafa;
  --color-grey: #b2b2b2;
  --color-dark-1: #545454;
  --color-dark-2: #4c4c4c;
  --color-dark-3: #292929;
}
