.slider {
  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 9px;
    max-width: 270px;
    background-color: var(--color-light);
    row-gap: 30px;

    @media (hover: hover) and (pointer: fine) {
      &:not(:hover) {
        transition: background-color 1s;
      }

      &:not(:hover) > .cards__button {
        transition: background-color 1s;
      }

      &:hover > .cards__button {
        background-color: var(--color-primary-light);
        transition: background-color 1s;
        cursor: pointer;
      }

      &:hover {
        background-color: var(--color-white);
        transition: background-color 1s;
        cursor: pointer;
      }
    }
  }

  &__img {
    display: inline-flex;
  }

  &__name {
    font-size: 20px;
    letter-spacing: 1.2px;
    color: var(--color-dark-1);
  }

  &__button {
    align-self: center;
    margin-bottom: 30px;
    border: 2px solid var(--color-primary);
    padding: 12px 45px;
    background-color: var(--color-light);
  }

  @media (width <= 1240px) {
    column-gap: 20px;
  }

  @media (width <= 830px) {
    column-gap: 10px;
  }

  @media (width <= 460px) {
    column-gap: 20px;
    flex-wrap: wrap;

    &__nav--prev {
      order: 1;
    }

    &__nav--next {
      order: 2;
    }
  }
}
