.friends {
  background-color: var(--color-background);

  .heading {
    text-align: center;
  }

  &__container {
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    padding-bottom: 100px;
    row-gap: 60px;

    @media (width <= 460px) {
      padding: 43px 10px 41px;
      row-gap: 41px;
    }
  }

  &__button {
    align-self: center;
    transition: background-color 0.7s;

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        background-color: var(--color-primary-light);
        transition: background-color 0.7s;
        cursor: pointer;
      }
    }
  }
}

.cards {
  display: flex;
  column-gap: 53px;
  align-items: center;
  justify-content: space-evenly;

  &__container {
    overflow: hidden;
    width: 100%;

    @media (width <= 460px) {
      padding-bottom: 22px;
    }
  }

  &__list {
    display: flex;
    column-gap: 90px;
    align-items: center;
    justify-content: center;
    min-height: 433px;

    @media (width <= 1240px) {
      column-gap: 40px;
    }

    @media (width <= 460px) {
      width: 100%;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 9px;
    max-width: 270px;
    background-color: var(--color-light);
    row-gap: 30px;

    @media (hover: hover) and (pointer: fine) {
      &:not(:hover) {
        transition: background-color 1s;
      }

      &:not(:hover) > .cards__button {
        transition: background-color 1s;
      }

      &:hover > .cards__button {
        background-color: var(--color-primary-light);
        transition: background-color 1s;
        cursor: pointer;
      }

      &:hover {
        background-color: var(--color-white);
        transition: background-color 1s;
        cursor: pointer;
      }
    }
  }

  &__img {
    display: inline-flex;
  }

  &__name {
    font-size: 20px;
    letter-spacing: 1.2px;
    color: var(--color-dark-1);
  }

  &__button {
    align-self: center;
    margin-bottom: 30px;
    border: 2px solid var(--color-primary);
    padding: 12px 43px;
    background-color: var(--color-light);
  }

  &__nav {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--color-primary);
    border-radius: 50%;
    min-width: 52px;
    min-height: 52px;
    background-color: var(--color-background);
    transition: background-color 0.7s;
    cursor: pointer;

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        border-color: var(--color-primary-light);
        background-color: var(--color-primary-light);
        transition: background-color 0.7s;
      }
    }
  }

  &__nav--current {
    background-color: var(--color-primary);
    pointer-events: none;
  }

  &__nav--inactive {
    border: 2px solid var(--color-grey-fade);
    cursor: default;
    pointer-events: none;
  }

  @media (width <= 1240px) {
    column-gap: 20px;
  }

  @media (width <= 830px) {
    column-gap: 10px;
  }

  @media (width <= 460px) {
    column-gap: 20px;
    flex-wrap: wrap;

    &__nav--prev {
      order: 1;
    }

    &__nav--next {
      order: 2;
    }
  }
}

.nextSlide {
  animation: right-shift 0.5s linear forwards;

  @media (width < 1000px) {
    animation: right-shift 0.4s linear forwards;
  }

  @media (width <= 720px) {
    animation: right-shift 0.3s linear forwards;
  }
}

.prevSlide {
  animation: left-shift 0.5s linear forwards;

  @media (width < 1000px) {
    animation: left-shift 0.4s linear forwards;
  }

  @media (width <= 720px) {
    animation: left-shift 0.3s linear forwards;
  }
}

@keyframes right-shift {
  0% {
    transform: rotate(0deg) scale(1);
  }

  50% {
    transform: rotate(360deg) scale(0);
  }

  100% {
    transform: translateX(100%) scale(1);
  }
}

@keyframes left-shift {
  0% {
    transform: rotate(0deg) scale(1);
  }

  50% {
    transform: rotate(-360deg) scale(0);
  }

  100% {
    transform: translateX(100%) scale(1);
  }
}
