<section class="friends">
  <div class="container friends__container">
    <h2 class="friends__heading">Our friends who <br> are looking for a house</h2>
    <div class="cards">
      <button class="cards__nav cards__nav--prev">
        <svg width="14" height="6" viewBox="0 0 14 6" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M14 2V4H3V6L0 3L3 0V2H14Z" fill="#292929" />
        </svg>
      </button>
      <div class="cards__container">
        <div class="cards__item">
          <img src="../../img/pets-katrine.avif" alt="pet photo" class="cards__img">
          <span class="cards__name">Katrine</span>
          <button class="button cards__button">Learn more</button>
        </div>
        <div class="cards__item">
          <img src="../../img/pets-jennifer.avif" alt="pet photo" class="cards__img">
          <span class="cards__name">Jennifer</span>
          <button class="button cards__button">Learn more</button>
        </div>
        <div class="cards__item">
          <img src="../../img/pets-woody.avif" alt="pet photo" class="cards__img">
          <span class="cards__name">Woody</span>
          <button class="button cards__button">Learn more</button>
        </div>
      </div>
      <button class="cards__nav cards__nav--next"><svg width="14" height="6" viewBox="0 0 14 6" fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <path d="M0 4V2L11 2V0L14 3L11 6V4L0 4Z" fill="#292929" />
        </svg>
      </button>
    </div>
    <a class="button friends__button" href="../pets/index.html">Get to know the rest</a>
  </div>
</section>
