<header class="header">
  <div class="container header__container">
    <div class="logo">
      <a class="logo__title" href="#">Cozy House</a>
      <span class="logo__subtitle">Shelter for pets in Boston</span>
    </div>
    <nav class="nav">
      <ul class="nav__list">
        <li class="nav__item"><a class="nav__link nav__link--active" href="#">About the shelter</a>
        </li>
        <li class="nav__item"><a class="nav__link" href="../pets/index.html">Our pets</a></li>
        <li class="nav__item"><a class="nav__link" href="#help">Help the shelter</a></li>
        <li class="nav__item"><a class="nav__link" href="#contacts">Contacts</a></li>
      </ul>
    </nav>
  </div>
</header>
